# Port for localhost
server.port=${PORT:8080}

# JPA properties
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults = false
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
# update for development, none for production
spring.jpa.hibernate.ddl-auto=update

# Local database properties (Modify this to your local database)
spring.datasource.url=jdbc:postgresql://localhost:5432/museum
spring.datasource.username=postgres
spring.datasource.password=postgres
