/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel {
  height: 320px;
  width: 100%;
  margin: 50px auto;
}

.carousel-item {
  height: 500px;
  padding: auto;
}

.carousel-card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.carousel-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.employee-card {
  width: 35%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: 'center';
  align-items: 'center';

}

.employee-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
