.green-dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.orange-dot {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.red-dot {
  height: 10px;
  width: 10px;
  background-color: #d2042d;
  border-radius: 50%;
  display: inline-block;
}

.yellow-dot {
  height: 10px;
  width: 10px;
  background-color: #fff23b;
  border-radius: 50%;
  display: inline-block;
}
